<span _ngcontent-vma-c7="" class="created-by"> Created by <b _ngcontent-vma-c7=""><a _ngcontent-vma-c7=""
            href="https://fr.linkedin.com/in/maxime-kellner-186b21128" target="_blank">Maxime KELLNER</a></b> 2019. Made
    with <b _ngcontent-vma-c7=""><a _ngcontent-vma-c7=""
            href="https://akveo.github.io/nebular/?utm_source=ngx-admin&amp;utm_medium=footer_link"
            target="_blank">Nebular. </a></b></span>

<nb-select placeholder="Light" (selectedChange)="changeTheme($event)">
    <nb-option value="default">Light</nb-option>
    <nb-option value="dark">Dark</nb-option>
    <nb-option value="corporate">Corporate</nb-option>
    <nb-option value="cosmic">Cosmic</nb-option>
</nb-select>
<a _ngcontent-axf-c7="" href="https://fr.linkedin.com/in/maxime-kellner-186b21128" target="_blank">
    <nb-icon icon="linkedin-outline" status="danger"></nb-icon>
</a>