<nb-card>
    <nb-card-body>

        <div id="homeTitle">
            <span>FUTURE</span>
            <img src="./../../../assets/icon/food.png">
            <span>TRACKING</span>
        </div>

        <div id="homeDescribe">
            <span>
                    <p>The best recipe generator of all time.</p>
                    <p>Balanced dishes for all lifestyles (geek, sports, ...)</p>
            </span>
        </div>

        <div id="homeToRecipes">
            <button nbButton shape="semi-round" status="success" size="giant" (click)="redirectToRecipes()">See all recipes</button>
        </div>

    </nb-card-body>
</nb-card>